<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Register</title>
</head>
<body>
    <div>
        <h1>Form Registration</h1>
        <form action="/register" method="POST" class="register-form">
            <label for="user">User</label>
            <input type="text" name="user" required>

            <label for="name">Fullname</label>
            <input type="text" name="name" required>

            <label for="rol">rol</label>
            <select name="rol" id="rol" class="select-rol"x>
                <option value="admin" selected>Admin</option>
                <option value="editor" selected>Editor</option>
                <option value="standard-user" selected>Standard User</option>
            </select>
            <label for="pass">Password</label>
            <input type="password" name="pass" required>

            <div>
            <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="save">
            </div>
        </form>
    </div>
</body>
</html>